body{
    background-image: url(background.png);
    background-position: center;
}

h1{
  text-align: center;
}

.imagem{
    max-height: 180px;
    min-height: 180px;
    margin: 0px 10px 5px 0;  
}

form{
    margin: 40px 0;
}

form label{
    display:block;
    font-size: 20px;
    margin: 5px 5px 10px;
}

button{
    width: 50%;
    height: 40px;
    background: #ff008a;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}